<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/css/global.css">
	<link rel="stylesheet" href="/public/css/login.css">
	<title>LinkyApp - Register</title>
</head>

<body>
	<main class="flex-column flex-center">
		<form action="#" class="main-form flex-column flex-center">
			<h1 class="text-primary text-shadow">Join us today</h1>
			<div class="input-container flex-column flex-center">
				<input type="text" name="name" class="input" placeholder="Name">
				<input type="email" name="password" class="input" placeholder="Email">
				<input type="text" name="password" class="input" placeholder="Password">
				<input type="text" name="password-confirm" class="input" placeholder="Confirm password">
			</div>
			<button class="btn-primary" type="submit" title="LinkyApp Sign Up">
				<span class="btn-primary-top">Sign Up</span>
			</button>
			<p class="text-primary">Already have an account?
				<a href="login.html" class="text-underline">Sign in</a>
			</p>
		</form>
	</main>
	<footer class="footer-logo flex-column flex-center">
		<a href="index.html" title="LinkyApp" class="logo-text flex">
			<img src="/public/assets/svg/logo1.svg" alt="LinkyApp">
			<p>LinkyApp</p>
		</a>
		<div class="footer-policy flex">
			<!-- divided for different spacings in rwd -->
			<p>Terms of use</p>
			<p>|</p>
			<p>Privacy policy</p>
		</div>
	</footer>
</body>

</html>