* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	appearance: none;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}

:root {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
}

/* globally available variables */
:root {
	--primary: #00beb3;
	--primary-dark: #00a292;
	--primary-light: #80dfd9;
	--secondary: #fff;
	--tertiary: #a9a9a9;
	--grey: #eee;
}

.text-primary {
	color: var(--primary);
}

.text-secondary {
	color: var(--secondary);
}

.text-tertiary {
	color: var(--tertiary);
}

.text-center {
	text-align: center;
}

.text-shadow {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-underline {
	text-decoration: underline;
}

.text-bold{
	font-weight: bold;
}

.text-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.bg-secondary {
	background-color: white;
}

/* Override any display: properties */

@media (max-width: 768px) {
	.hide-mobile {
		display: none !important;
	}
}

@media (min-width: 769px) {
	.hide-desktop {
		display: none !important;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.btn-primary {
	/* Variables */
	--button_radius: 0.75em;
	--button_color: var(--secondary);
	--button_outline_color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	border: none;
	border-radius: var(--button_radius);
	background: var(--button_outline_color);
	cursor: pointer;

	width: 100%;
	max-width: 250px;
	margin-top: 0.2em;
}

.btn-primary-top {
	display: block;
	box-sizing: border-box;
	border: 2px solid var(--button_outline_color);
	border-radius: var(--button_radius);
	padding: 0.75em 1.5em;
	background: var(--button_color);
	color: var(--button_outline_color);
	text-align: center;
	transform: translateY(-0.2em);
	transition: transform 0.1s ease;
}

.btn-primary:hover .btn-primary-top {
	/* Pull the button upwards when hovered */
	transform: translateY(-0.33em);
}

.btn-primary:active .btn-primary-top {
	/* Push the button downwards when pressed */
	transform: translateY(0);
}

.btn-hover-dim{
	&:hover {
		background-color: rgba(0, 0, 0, .05);
	}
}

.input {
	border: none;
	outline: none;
	border-radius: 15px;
	padding: 1em;
	background-color: white;
	box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
	transition: 500ms ease-in-out;
	font-size: 1rem;

	max-width: 350px;
}

.input:focus {
	background-color: white;
	transform: scale(1.05);
	box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.footer-logo {
	grid-area: footer;
	gap: 1rem;
	color: var(--secondary);
	padding: 1rem;
}

.footer-logo .logo-text {
	display: flex;
	font-size: 1rem;
	gap: 0.5rem;
	align-items: center;
}

.footer-logo .footer-policy {
	gap: 0.5rem;
	font-size: 0.7rem;
}

.messages{
	color: var(--secondary);
}

/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	
	& .modal-content{
		width: 50%;
		max-width: 500px;
		padding: 1rem 1rem 2rem 1rem;
		border-radius: 1rem;
		background-color: var(--primary);
		
		& .main-form{
			padding: 0;
		}
		
		& .form-header{
			font-size: 2rem;
		}

		& .cancel-btn{
			align-self: end;
        }
	}

	@media (max-width: 768px) {
		& .modal-content{
			width: 80%;
		}
	}
	
}
