* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

:root {
	font-family: Arial, Helvetica, sans-serif
}

/* globally available variables */
:root {
	--primary: #00beb3;
	--primary-dark: #00a292;
	--primary-light: #80dfd9;
	--secondary: #fff;
	--tertiary: #a9a9a9;
	font-size: 16px;
	font-style: normal;
}

.text-primary {
	text-align: center;
	color: #ffffff;
}

.text-shadow {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-underline {
	text-decoration: underline;
}

/* Hide elements with the .hide-mobile class on screens with a max width of 768px (mobile view) */
@media (max-width: 768px) {
	.hide-mobile {
		display: none;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.btn-primary {
	/* Variables */
	--button_radius: 0.75em;
	--button_color: var(--secondary);
	--button_outline_color: #000000;
	font-size: 17px;
	font-weight: bold;
	border: none;
	border-radius: var(--button_radius);
	background: var(--button_outline_color);

	width: 100%;
	max-width: 250px;
	margin-top: 0.2em;
}

.btn-primary-top {
	display: block;
	box-sizing: border-box;
	border: 2px solid var(--button_outline_color);
	border-radius: var(--button_radius);
	padding: 0.75em 1.5em;
	background: var(--button_color);
	color: var(--button_outline_color);
	text-align: center;
	transform: translateY(-0.2em);
	transition: transform 0.1s ease;
}

.btn-primary:hover .btn-primary-top {
	/* Pull the button upwards when hovered */
	transform: translateY(-0.33em);
}

.btn-primary:active .btn-primary-top {
	/* Push the button downwards when pressed */
	transform: translateY(0);
}

.input {
	border: none;
	outline: none;
	border-radius: 15px;
	padding: 1em;
	background-color: white;
	box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
	transition: 500ms ease-in-out;

	max-width: 400px;
}

.input:focus {
	background-color: white;
	transform: scale(1.05);
	box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.footer-logo {
	grid-area: footer;
	gap: 1rem;
	color: var(--secondary);
	padding: 1rem;
}

.footer-logo .logo-text {
	display: flex;
	font-size: 1rem;
	gap: 0.5rem;
	align-items: center;
}

.footer-logo .footer-policy {
	gap: 0.5rem;
	font-size: 0.7rem;
}
