body {
	height: 100dvh;

	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-areas:
		"header ."
		"header main"
		"header footer";

	background-color: var(--primary);
}

@media (max-width: 768px) {
	body {
		padding: 0 1rem;

		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
		grid-template-areas:
			"."
			"header"
			"main"
			"footer";
	}
}

header {
	padding: 2rem;

	grid-area: header;
	justify-content: space-around;

	background-color: var(--primary-light);

	& .header-container {
		max-width: 600px;
		gap: 3rem;
	}
}

@media (max-width: 768px) {
	header {
		padding: 1rem 0;
		background-color: var(--primary);
	}
}

main {
	width: 100%;

	grid-area: main;
	gap: 2rem;

	& h2 {
		font-size: 2rem;
		gap: 2rem;
	}

	& .btn-container {
		width: 75%;
		gap: 1rem;
	}
}
