@import "modules/form.css";

body {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 2fr 0.5fr;
	grid-template-areas:
		"."
		"main"
		"footer";

	background-color: var(--primary);
}

main {
	width: 60vh;
	max-width: 50vw;
	min-width: 30vw;
	padding: 1rem;

	grid-area: main;

	justify-self: center;
	align-self: center;
	
	& .main-form{
		background-color: var(--primary-light);
	}
}

@media (max-width: 768px) {
	main {
		max-width: 80vw;
	}
	main .main-form {
		background-color: var(--primary);
	}
}

footer {
	grid-area: footer;
}
