.shares-container {
    gap: 1.5rem;

    & .share-form,
    & .group-shares,
    & .group-share,
    & .user-container {
        gap: 1rem;
    }

    & h2 {
        font-size: 2rem;
    }

    & .share-form {
        padding: 1rem;
        width: 100%;
        font-size: 1rem;
    }

    & .group-shares {
        max-height: 20vh;
        overflow-y: scroll;
    }

    & select {
        width: auto;
        & path {
            fill: red;
        }
    }

    @media (max-width: 768px) {
        .share-form {
            padding: 0;
            flex-wrap: wrap;

            & .input-container {
                flex: 1 1 100%;
            }
        }

        .group-share {
            gap: 0.25rem;
            flex-wrap: wrap;

            & .email-container {
                flex: 1 1 100%;
            }
        }
    }
}